.banner {
  background: url(https://unsplash.it/g/1000/700/?random) center center;
  background-size: cover;
  color: white;
}

.banner-shadow {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.7) 20%, rgba(200,200,200,0.5) 100%);
  background-size: cover;
}

.banner-text {
  padding: 150px;
}
