.cards {
  color: $gray-light;
}

.card {
  background-size: cover;
  margin: 20px;
  top: 0;
  bottom: 0;
  height: 175px;
  position: relative;
}

.card-shadow {
  background-image: linear-gradient(-225deg, rgba(60,60,60,0.4) 10%, rgba(120,120,120,0.4) 90%);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-link, .card-link:hover
{
  text-decoration: none;
  color: white;
}

.card-content {
  position: relative;
  padding: 10px;
}

.card-votes {
  position: absolute;
  top: 10px;
}

.card-user {
  font-size: 24px;
  position: absolute;
  top: 80px;
}

.card-text {
  font-size: 13px;
  position: absolute;
  top: 130px;
}





