.features {
  padding: 50px 0;
}

.feature-icon {
  height: 25px;
  margin-right: 5px;
}

.feature-title {
  color: grey;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 700;
}

.feature-content {
  color: grey;
  font-family: open sans;
  font-size: 15px;
  font-weight: 300;
}
