.team {
  h1 {
    margin: 30px auto;
  }
  &-image {
    height: 100px;
    box-shadow: 3px 3px 5px #888888;
    border-radius: 50%;
  }
  &-person {
    font-family: $base-font;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

