.footer {
  color: white;
  background-color: #2D2422;
  width: 100%;
  padding: 35 px 0;
}

.footer i {
    color: white;
    font-size: 30px;
    margin-left: 10px
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
