// html {
//   position: relative;
//   min-height: 100%;
// }

// body {
//   padding-bottom: 160px;
// }

.footer {
  color: white;
  background-color: #2D2422;
  padding: 20px;
  width: 100%;
}

.footer {
  i {
    color: white;
    font-size: 30px;
    margin: 10px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
